form{
    display: flex;
    flex-shrink: 0;
}

#inputPlace{
    width: 250px;
    margin: 20px 0px 0px 86px;
    padding: 10px 18px 10px 10px;
    border-radius: 0%;
    border-style: none;
    border: 1px solid rgb(167, 164, 164);
}
#inputSearch{
    width: 396px;
    margin: 20px 0px 0px -1px;
    padding: 10px 18px 10px 10px;
    border-radius: 0%;
    border-style: none;
    border: 1px solid rgb(167, 164, 164);
    
}
#ad{
    width: 36.5%;
    margin:20px 0px 0px 261px;
    flex-shrink: 0;
}
#mainAd{
    width: 86.4%;
    margin: 60px 0px 0px 85px;
}
